:root {
    --white: hsl(0, 0%, 100%);
    --light-blue-background: hsl(212, 45%, 89%);
    --paragraph-color: hsla(219, 15%, 55%, 1);

}
/* Global body styles */
body {
    background-color: var(--light-blue-background); /* Soft blue background */
    min-height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Vertical alignment */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Font family */
    font-optical-sizing: auto; /* Optimizes text size based on screen */
    font-style: normal; /* Default font style */
    box-shadow: 0 0 10px 0 rgb(0,0,0,0.9);
}

/* Container for the QR Code and content */
.qr-code-container {
    background-color: var(--white); /* White background for the container */
    border-radius: 1rem; /* Rounded corners */
    overflow: hidden; /* Hide any overflow content */
    max-width: 320px; /* Maximum width of the container */
    max-height: 497px; /* Maximum height of the container */
    padding: 1rem; /* Padding inside the container */
}

/* QR Code Image Styles */
img {
    border-radius: 0.5rem; /* Slightly rounded corners for the image */
    width: 100%;
    height: 60%;
}

/* Content section styling */
.content {
    text-align: center; /* Center-align the text */
    margin-top: 0.9rem;
    padding: 0 1rem;

}

/* Heading Styles */
h1 {
    font-size: 1.375rem; /* Font size for the heading */
    font-weight: 700; /* Bold text for the heading */
    margin-bottom: 0.75rem; /* Space below the heading */
    line-height: 1;
}

/* Paragraph Styles */
p {
    font-size: 0.9375rem; /* Font size for the paragraph */
    color: var(--paragraph-color)
}
